################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/EnglishLearning.App/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX
/EnglishLearning.App/obj
/EnglishLearning.Business/bin/Debug/net8.0
/EnglishLearning.Business/obj
/EnglishLearning.DataAccess/bin/Debug/netstandard2.1
/EnglishLearning.DataAccess/obj
/EnglishLearning.Model/bin/Debug/netstandard2.1
/EnglishLearning.Model/obj
/EnglishLearning.App/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/EnglishLearning.App/bin/Debug/net8.0-android
/EnglishLearning.App/EnglishLearning.App.csproj.user
/EnglishLearning.App/bin/Debug
/EnglishLearning.Utility/bin/Debug/netstandard2.1
/EnglishLearning.Utility/obj
/EnglishLearning.Data/obj
/EnglishLearning.DataAccess/bin/x64/Debug/netstandard2.1
/EnglishLearning.Model/bin/x64/Debug/netstandard2.1
/EnglishLearning.App/bin/Release
/EnglishLearning.Business/bin/Release/net8.0
/EnglishLearning.DataAccess/bin/Release/netstandard2.1
/EnglishLearning.Model/bin/Release/netstandard2.1
/EnglishLearning.Utility/bin/Release/netstandard2.1
/EnglishLearning.DataAccess/bin/x86/Debug/netstandard2.1
/EnglishLearning.Model/bin/x86/Debug/netstandard2.1
/EnglishLearning.Data/.vs
/EnglishLearning.Data/bin
